.footer
{
    overflow: hidden;
    position: sticky;
    top: 100%;
    background-color:white;
    padding: 20px 10px;
}
h1{
    font-weight: bold;
    color: skyblue;
    font-size: 20px;
}
p{
    color: skyblue;
    font-size: 14px;
}
a{
    color:skyblue;
    text-decoration: none;
    padding:0px 5px;
    font-size: 17px;
}
a:hover
{
    color: var(--primary-color);
}
i{
    padding: 0px 5px;

}